<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en temps réel</title>
{% if user.is_authenticated %}
        <script>
            // Connexion WebSocket avec le serveur
            var socket = new WebSocket('wss://localhost/ws/chat/');
            var socket2 = new WebSocket('wss://localhost/ws/system/');

            // Écoute des événements de la connexion WebSocket
            socket.onopen = function(event) {
                console.log('Connexion au chat établie');
            
                socket2.onopen = function(event) {
                    console.log('Connexion au system établie');
                    send_get_friends_infos(currentUser);
                };
            };

            socket.onclose = function(event) {
                console.log('Connexion au chat fermée');
            };

            socket2.onclose = function(event) {
                console.log('Connexion au system fermée');
            };
        </script>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <h1>Chat en temps réel</h1>

        <div id="chat-messages">
            {% if message %}
                {% for msg in message %}
                    <div id="display_database_messages-{{forloop.counter}}">
                        <p class="user_timestamp_button">
                            <span class="msg_user">
                                {{ msg.user }} | {{ msg.timestamp }}</span>
                                <span id="database_check_add_friend_button-{{forloop.counter}}"></span>
                                <span id="database_check_block_button-{{forloop.counter}}"></span>
                                <span id="database_check_get_user_infos_button-{{forloop.counter}}">
                            </span>
                        </p>
                        <p>{{msg.content}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div id="no-messages">Aucun message pour le moment</div>
            {% endif %}
        </div>

        <form id="chat-form" method="post">
            {% csrf_token %}
            <input type="text" id="message-input" placeholder="Entrez votre message... 🔱" autocomplete="off">
            <button type="submit">Envoyer ✅</button>
        </form>

        <script>
            //--------------------------------------------------------------------------------
            //                              GLOBAL VARIABLES
            //--------------------------------------------------------------------------------
            var friends = [];
            var currentUser = "{{ user.username }}";
            var block_list = [];

            
            //--------------------------------------------------------------------------------
            //                                  FUNCTIONS
            //--------------------------------------------------------------------------------

            function send_get_friends_infos(currentUser)
            {
                var message = {
                    'command': 'get_friends_infos',
                    'user_to_add': currentUser
                }

                var messageJson = JSON.stringify(message);
                socket2.send(messageJson);
                console.log("Demande d'infos sur les amis envoyée");
            }

            function send_add_friend_request(currentUser, user_to_add)
            {
                var message = {
                    'command': 'add_friend',
                    'original_user': currentUser,
                    'user_to_add' : user_to_add,
                }

                var messageJson = JSON.stringify(message);
                socket2.send(messageJson);
                console.log("Demande d'ajout d'ami envoyée");
            }

            function send_block_friend_request(friend_to_block, original_user, already_friend)
            {
                var message = {
                    'command': 'block_friend',
                    'user_to_add': friend_to_block,
                    'original_user' : original_user,
                    'already_friend': already_friend
                }

                var messageJson = JSON.stringify(message);
                socket2.send(messageJson);
            }


            function display_data_base_check_add_friend_button()
            {
                var msg_user = document.getElementsByClassName('msg_user');
                var is_in_block_list = false;
                var is_current_user = false;
                for (var i = 0; i < msg_user.length; i++)
                {
                    var words = msg_user[i].textContent.trim().split(' ');
                    for (var j = 0; j < words.length; j++)
                    {
                        if (block_list.includes(words[j]))
                        {
                            is_in_block_list = true;;
                        }
                        if (words[j] === currentUser)
                        {
                            is_current_user = true;
                        }
                    }
    

                    if (!is_current_user && !is_in_block_list)
                    {
                        var username = msg_user[i].textContent.trim();
                        var addFriendButton = document.createElement('button');
                        addFriendButton.textContent = 'Ajouter en ami';
                        addFriendButton.dataset.username = username;
                        
                        var friendButtonContainer = document.getElementById('database_check_add_friend_button-' + (i + 1));
                        friendButtonContainer.appendChild(addFriendButton);

                        var blockFriendButton = document.createElement('button');
                        blockFriendButton.textContent = 'Bloquer';
                        blockFriendButton.dataset.username = username;

                        var blockButtonContainer = document.getElementById('database_check_block_button-' + (i + 1));
                        blockButtonContainer.appendChild(blockFriendButton);

                        var get_user_infos_button = document.createElement('button');
                        get_user_infos_button.textContent = 'voir les infos';
                        get_user_infos_button.dataset.username = username;

                        var get_user_infos_button_container = document.getElementById('database_check_get_user_infos_button-' + (i + 1));
                        get_user_infos_button_container.appendChild(get_user_infos_button);

                        addFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username.split(' | ')[0];
                        send_add_friend_request(currentUser, username);
                        });

                        blockFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username.split(' | ')[0];
                        send_block_friend_request(username, currentUser, false);
                        });

                        get_user_infos_button.addEventListener('click', function(event) {
                            var username = event.target.dataset.username.split(' | ')[0];
                            window.location.href = 'https://localhost/user_info/' + username + '/';
                        });
                    }
                    is_current_user = false;
                    is_in_block_list = false;
                }
            }

            // fonction pour clear les boutons ajouter en ami
            function clear_add_friend_button(user_to_add)
            {
                var addFriendButton = document.querySelectorAll('button[data-username]');

                for (var i = 0; i < addFriendButton.length; i++)
                    if (addFriendButton[i].dataset.username.trim().split(' | ')[0] === user_to_add)
                        addFriendButton[i].remove();
            }

            function add_button_if_unfriend(original_user)
            {
                var msg_user = document.getElementsByClassName('msg_user');

                for (var i = 0; i < msg_user.length; i++)
                {
                    if (msg_user[i].textContent.trim().split(' | ')[0] === original_user)
                    {
                        var addFriendButton = document.createElement('button');
                        addFriendButton.textContent = 'Ajouter en ami';
                        addFriendButton.dataset.username = original_user;
                        
                        var friendButtonContainer = document.getElementById('database_check_add_friend_button-' + (i + 1));
                        friendButtonContainer.appendChild(addFriendButton);

                        var blockFriendButton = document.createElement('button');
                        blockFriendButton.textContent = 'Bloquer';
                        blockFriendButton.dataset.username = original_user;

                        var blockButtonContainer = document.getElementById('database_check_block_button-' + (i + 1));
                        blockButtonContainer.appendChild(blockFriendButton);

                        addFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        send_add_friend_request(currentUser, username);
                        });

                        blockFriendButton.addEventListener('click', function(event) {
                            var username = event.target.dataset.username;
                            //send_block_friend_request(currentUser, username);
                        });
                    }
                }
                
                var userElements = document.querySelectorAll('[id*="' + original_user + '"]');

                for (var i = 0; i < userElements.length; i++)
                {
                    var addFriendButton = document.createElement('button');
                    addFriendButton.textContent = 'Ajouter en ami';
                    addFriendButton.dataset.username = original_user;

                    var blockFriendButton = document.createElement('button');
                    blockFriendButton.textContent = 'Bloquer';
                    blockFriendButton.dataset.username = original_user;
                    
                    userElements[i].appendChild(addFriendButton);
                    userElements[i].appendChild(blockFriendButton);

                    addFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        send_add_friend_request(currentUser, username);
                    });

                    blockFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        //send_block_friend_request(currentUser, username);
                    });
                }
    
            }


            // Fonction pour afficher les messages reçus
            function displayMessage(messageData)
            {
                if (!block_list.includes(messageData.username.trim()))
                {
                    var messageElement = document.createElement('div');
                    var userTimestampElement = document.createElement('p');
                    var messageContentElement = document.createElement('p');
                    var addFriendButton = document.createElement('button');
                    var blockFriendButton = document.createElement('button');
                    var get_user_infos_button = document.createElement('button');
                    var container = document.createElement('div');

                    messageElement.className = messageData.username.trim();
                    container.style.display = 'flex';
                    


                    userTimestampElement.textContent = messageData.username.trim() + ' | ' + messageData.timestamp.trim();
                    messageContentElement.textContent = messageData.message.trim();

                    container.appendChild(userTimestampElement);

                    if (messageData.username != currentUser && friends.includes(messageData.textContent) == false)
                    {
                        addFriendButton.textContent = 'Ajouter en ami';
                        addFriendButton.dataset.username = messageData.username.trim();
                        addFriendButton.className = 'add_friend_button';

                        blockFriendButton.textContent = 'Bloquer';
                        blockFriendButton.dataset.username = messageData.username.trim();
                        blockFriendButton.className = 'block_friend_button';

                        get_user_infos_button.textContent = 'voir les infos';
                        get_user_infos_button.dataset.username = messageData.username.trim();
                        get_user_infos_button.className = 'get_user_infos_button';



                        container.appendChild(addFriendButton);
                        container.appendChild(blockFriendButton);
                        container.appendChild(get_user_infos_button);
                    }

                    messageElement.appendChild(container);
                    messageElement.appendChild(messageContentElement);

                    document.querySelector('#chat-messages').appendChild(messageElement);

                    addFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        send_add_friend_request(currentUser, messageData.username);
                    });

                    blockFriendButton.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        send_block_friend_request(username, currentUser, false);
                    });

                    get_user_infos_button.addEventListener('click', function(event) {
                        var username = event.target.dataset.username;
                        window.location.href = 'https://localhost/user_info/' + username + '/';
                    });
                }
            }

            function clear_database_messages_if_blocked(username)
            {
                var db_divs = document.querySelectorAll('[id^="display_database_messages-"]');

                for (var i = 0; i < db_divs.length; i++)
                {
                    var children = db_divs[i].children;
                    for (var j = 0; j < children.length; j++)
                    {
                        if (username === null)
                        {
                            var msg_username = children[j].textContent.trim().split(' | ')[0];
                            if (block_list.includes(msg_username))
                                db_divs[i].classList.add('hidden');
                        }
                        else if (children[j].textContent.trim().split(' | ')[0] === username)
                            db_divs[i].classList.add('hidden');                    
                    }
                }
            }

            function clear_messages_if_blocked(username)
            {
                var divs = document.getElementsByClassName(username);

                for (var i = 0; i < divs.length; i++)
                {
                    divs[i].classList.add('hidden');
                }
            }
            //--------------------------------------------------------------------------------
            //                                  ELSE
            //--------------------------------------------------------------------------------

            // Écoute de l'événement de soumission du formulaire
            document.querySelector('#chat-form').addEventListener('submit', function(event) {
                // Empêche le comportement par défaut du formulaire (rechargement de la page)
                event.preventDefault();

                // Récupère le contenu du champ de texte
                var messageInput = document.querySelector('#message-input');
                var messageContent = messageInput.value;

                // Envoie le message au serveur via WebSocket
                socket.send(JSON.stringify({
                    'type': 'send_message',
                    'message': messageContent
                }));

                // Efface le champ de texte après l'envoi du message
                messageInput.value = '';
            });
            

            // Écoute des messages reçus via WebSocket
            socket.onmessage = function(event) {
                var messageData = JSON.parse(event.data);

                var noMessagesDiv = document.getElementById('no-messages');
                if (noMessagesDiv) {
                    noMessagesDiv.remove();
                }
                displayMessage(messageData);
            };

            socket2.onmessage = function(event)
            {
                var data = event.data;
                data = JSON.parse(data);
                console.log(data);

                if (data.message.user_to_add === currentUser && data.message.command === "get_friends_infos")
                {
                    friends = data.message.friends;
                    block_list = data.message.block_list;
                    console.log("infos sur les amis reçues");
                    display_data_base_check_add_friend_button();
                    clear_database_messages_if_blocked(null);
                }

                if (data.message.command == 'friend_accepted' && data.message.original_user === currentUser)
                {
                    clear_add_friend_button(data.message.user_to_add);
                }

                if (data.message.command == 'friend_deleted' && data.message.friend_to_delete === currentUser)
                {
                    add_button_if_unfriend(data.message.original_user);
                }

                if (data.message.command == 'friend_blocked' && data.message.user_to_add === currentUser && data.message.already_friend === true)
                {
                    add_button_if_unfriend(data.message.original_user);
                    console.log('friend blocked');
                }

                if (data.message.command == 'friend_blocked' && data.message.original_user === currentUser)
                {
                    clear_database_messages_if_blocked(data.message.user_to_add);
                    clear_messages_if_blocked(data.message.user_to_add);
                }
            };
        </script>
    </body>
{% else %}
    <h1>Vous devez être connecté pour accéder à cette page</h1>
{% endif %}
</html>
