<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

{% if user.is_authenticated %}
    <script>
        var currentUser = "{{ user.username }}";

        // Connexion WebSocket avec le serveur
        var socket = new WebSocket('wss://localhost/ws/system/');

        socket.onopen = function(event)
        {
            console.log('Connexion au system établie');
            console.log('currentUser -->' + currentUser);
            send_get_friends_infos(currentUser);
            send_get_actual_games(currentUser);
            console.log('Demande d\'infos sur les amis envoyée');
        };

        socket.onclose = function(event)
        {
            console.log('Connexion au system fermée');
        };
    </script>
{% endif %}


<body>
    <h1>Bienvenue sur le projet Transcendance</h1>
    <p>En cours de developpement</p>
    <p>
        {% if user.is_authenticated %}
            Bonjour {{ user.username }}
            <br></br>
            <img src="https://localhost/media/{{ user.avatar }}" alt="Profile picture" width="100" height="100">
        {% else %}
            Bonjour inconnu
        {% endif %}
    </p>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Se deconnecter ❌</a>
        <br></br>
        <a href="{% url 'chat-room' %}" class="btn btn-primary">Viens tchatter ici 💬</a>
        <br></br>
        <a href="{% url 'update-account' %}" class="btn btn-primary">Modifier mon compte ♻️</a>
        <br></br>
        <a id="user_infos"></a>
        <br></br>
        <div class="friends_requests"> </div>
        <div class="friends"> </div>
        <div class="block_list"> </div>
        <div class="pfc"> </div>

                
    {% else %}
        <a href="{% url 'signin' %}" class="btn btn-primary">S'inscrire 🔥</a>
        <br></br>
        <a href="{% url 'login' %}" class="btn btn-primary">Se connecter ✅</a>
        <br></br>
        <a href="{% url 'redirect-to-provider' %}" class="btn btn-primary">Se connecter avec 4️⃣2️⃣</a>
    {% endif %}
</body>

{% if user.is_authenticated %}
    <script>

        //--------------------------------------------------------------------------------
        //                              GLOBAL VARIABLES
        //--------------------------------------------------------------------------------
        var friends = [];
        var friends_requests = [];
        var block_list = [];
        var currentUser = "{{ user.username }}";

        //--------------------------------------------------------------------------------
        //                                  FUNCTIONS
        //--------------------------------------------------------------------------------

        // Demande d'information sur les games en cours
        function send_get_actual_games()
        {
            var message = {
                'command': 'get_actual_games',
                'original_user': currentUser
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Demande d'informations sur les amis
        function send_get_friends_infos(currentUser)
        {
            var message = {
                'command': 'get_friends_infos',
                'user_to_add': currentUser
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie de l'acceptation en ami
        function send_accept_friend_request(original_user, user_to_add)
        {
            var message = {
                'command': 'accept_friend',
                'original_user': original_user,
                'user_to_add' : user_to_add,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie du refus d'ami
        function send_reject_friend_request(original_user, user_to_add)
        {
            var message = {
                'command': 'reject_friend',
                'original_user': original_user,
                'user_to_add' : user_to_add,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie de la demande de suppression d'ami
        function send_delete_friend_request(friend_to_delete, original_user)
        {
            var message = {
                'command': 'delete_friend',
                'friend_to_delete': friend_to_delete,
                'original_user' : original_user,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie de la demande de blocage d'ami
        function send_block_friend_request(friend_to_block, original_user, already_friend)
        {
            var message = {
                'command': 'block_friend',
                'user_to_add': friend_to_block,
                'original_user' : original_user,
                'already_friend': already_friend
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }


        // Envoie de la demande de deblocage d'ami
        function send_unblock_friend_request(friend_to_unblock, original_user)
        {
            var message = {
                'command': 'unblock_friend',
                'user_to_add': friend_to_unblock,
                'original_user' : original_user,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie de la demande de demande de jeux pour PFC
        function send_pfc_request(friend_to_play, original_user)
        {
            var message = {
                'command': 'pfc_request',
                'user_to_add': friend_to_play,
                'original_user' : original_user,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie de l'acceptation de partie de PFC
        function send_accept_pfc_request(original_user, user_to_add)
        {
            var message = {
                'command': 'pfc_accepted',
                'original_user': original_user,
                'user_to_add' : user_to_add,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }

        // Envoie du refus de partie de PFC
        function send_reject_pfc_request(original_user, user_to_add)
        {
            var message = {
                'command': 'pfc_rejected',
                'original_user': original_user,
                'user_to_add' : user_to_add,
            }

            var messageJson = JSON.stringify(message);
            socket.send(messageJson);
        }


//!----------------------------------------------------------------------------------------------------------------------------
//!                         modification de la page si jamais l'ami a ete accepte ou refuse
//!----------------------------------------------------------------------------------------------------------------------------

function clear_friend_request(original_user)
{

    var friendRequestDiv = document.getElementById(original_user);
    if (friendRequestDiv != null)
        friendRequestDiv.remove();

    var friendsRequestsDiv = document.getElementsByClassName('friends_requests')[0];

    if (friendsRequestsDiv.childElementCount === 1)
        friendsRequestsDiv.firstElementChild.remove();
}


//!----------------------------------------------------------------------------------------------------------------------------
//!                                modification de la page si jamais l'ami a ete supprimé
//!----------------------------------------------------------------------------------------------------------------------------

function clear_friend(friend_to_delete)
{
    var friendDiv = document.getElementById(friend_to_delete);
    friendDiv.remove();

    var friendsRequestsDiv = document.getElementsByClassName('friends')[0];

    if (friendsRequestsDiv.childElementCount === 1)
        friendsRequestsDiv.firstElementChild.remove();
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                                modification de la page si jamais l'ami a ete debloque
//!----------------------------------------------------------------------------------------------------------------------------

function clear_block_list(friend_to_unblock)
{
    var blockDiv = document.getElementById(friend_to_unblock);
    blockDiv.remove();

    var blockListDiv = document.getElementsByClassName('block_list')[0];

    if (blockListDiv.childElementCount === 1)
        blockListDiv.firstElementChild.remove();
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Affichage de la liste d'amis au moment de la connexion a la page
//!----------------------------------------------------------------------------------------------------------------------------

function display_friends_requests()
{
    if (friends_requests.length > 0)
        for (var i = 0; i < friends_requests.length; i++)
            display_friend_request_div(friends_requests[i]);
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Affichage de la liste d'amis au moment de la connexion a la page
//!----------------------------------------------------------------------------------------------------------------------------

function display_friends()
{
    if (friends.length > 0)
        for (var i = 0; i < friends.length; i++)
            display_friends_div(friends[i]);
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Affichage de la liste des personnes bloquee au moment de la connexion a la page
//!----------------------------------------------------------------------------------------------------------------------------

function display_block_list()
{
    if (block_list.length > 0)
        for (var i = 0; i < block_list.length; i++)
            display_block_list_div(block_list[i]);
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Creation des divs pour la l'affichage de la liste d'amis
//!----------------------------------------------------------------------------------------------------------------------------

function display_friends_div(original_user)
{
    if (block_list.includes(original_user))
        return;

    var friendsDiv = document.getElementsByClassName('friends')[0];
    if (friendsDiv.childElementCount === 0)
    {
        var friendsTitle = document.createElement('h2');
        friendsTitle.textContent = 'Liste d\'amis';
        friendsDiv.appendChild(friendsTitle);
    }

    var friendDiv = document.createElement('div');
    friendDiv.id = original_user;
    friendDiv.style.display = 'flex';
    friendsDiv.appendChild(friendDiv);

    var friendP = document.createElement('p');
    friendP.textContent = original_user;
    friendDiv.appendChild(friendP);

    var friendDeleteButton = document.createElement('button');
    friendDeleteButton.textContent = 'Supprimer';
    friendDiv.appendChild(friendDeleteButton);

    var friendBlockButton = document.createElement('button');
    friendBlockButton.textContent = 'Bloquer';
    friendDiv.appendChild(friendBlockButton);

    var friendChatButton = document.createElement('button');
    friendChatButton.textContent = 'Chat prive';
    friendDiv.appendChild(friendChatButton);

    var play_pfc_button = document.createElement('button');
    play_pfc_button.textContent = 'Jouer a Pierre Feuille Ciseaux';
    friendDiv.appendChild(play_pfc_button);

    var get_user_infos_button = document.createElement('button');
    get_user_infos_button.textContent = 'Voir les infos';
    friendDiv.appendChild(get_user_infos_button);


    friendDeleteButton.addEventListener('click', function(event)
    {
        var friend_to_delete = event.target.parentElement.firstChild.textContent;
        send_delete_friend_request(friend_to_delete, currentUser);
    });

    friendBlockButton.addEventListener('click', function(event)
    {
        var user_to_block = event.target.parentElement.firstChild.textContent;
        send_block_friend_request(user_to_block, currentUser, true);
    });

    friendChatButton.addEventListener('click', function(event)
    {
        var friend_to_chat = event.target.parentElement.firstChild.textContent;
        window.location.href = 'https://localhost/private_chat/' + currentUser + '_' + friend_to_chat + "/";
    });

    play_pfc_button.addEventListener('click', function(event)
    {
        var friend_to_play = event.target.parentElement.firstChild.textContent;
        send_pfc_request(friend_to_play, currentUser);
    });

    get_user_infos_button.addEventListener('click', function(event)
    {
        var friend_to_get_infos = event.target.parentElement.firstChild.textContent;
        console.log('friend_to_get_infos -->' + friend_to_get_infos);
        window.location.href = 'https://localhost/user_info/' + friend_to_get_infos + "/";
    });


}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Creation des divs pour la l'affichage des demandes d'amis
//!----------------------------------------------------------------------------------------------------------------------------

function display_friend_request_div(original_user)
{
    if (block_list.includes(original_user))
        return;

    var friendsRequestsDiv = document.getElementsByClassName('friends_requests')[0];
    if (friendsRequestsDiv.childElementCount === 0)
    {
        var friendsRequestTitle = document.createElement('h2');
        friendsRequestTitle.textContent = 'Demandes d\'amis';
        friendsRequestsDiv.appendChild(friendsRequestTitle);
    }

    var friendRequestDiv = document.createElement('div');
    friendRequestDiv.id = original_user;
    friendRequestDiv.style.display = 'flex';
    friendsRequestsDiv.appendChild(friendRequestDiv);

    var friendRequestP = document.createElement('p');
    friendRequestP.textContent = original_user;
    friendRequestDiv.appendChild(friendRequestP);

    var friendRequestAcceptButton = document.createElement('button');
    friendRequestAcceptButton.textContent = 'Accepter';
    friendRequestDiv.appendChild(friendRequestAcceptButton);

    var friendRequestDeclineButton = document.createElement('button');
    friendRequestDeclineButton.textContent = 'Refuser';
    friendRequestDiv.appendChild(friendRequestDeclineButton);

    var friendRequestBlockedButton = document.createElement('button');
    friendRequestBlockedButton.textContent = 'Bloquer';
    friendRequestDiv.appendChild(friendRequestBlockedButton);

    friendRequestAcceptButton.addEventListener('click', function(event)
    {
        var original_user = event.target.parentElement.firstChild.textContent;
        send_accept_friend_request(original_user, currentUser);
    });

    friendRequestDeclineButton.addEventListener('click', function(event)
    {
        var original_user = event.target.parentElement.firstChild.textContent;
        send_reject_friend_request(original_user, currentUser);
    });

    friendRequestBlockedButton.addEventListener('click', function(event)
    {
        var user_to_block = event.target.parentElement.firstChild.textContent;
        send_block_friend_request(user_to_block, currentUser, false);
    });
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Creation des divs pour la l'affichage de la liste des personnes bloquee
//!----------------------------------------------------------------------------------------------------------------------------

function display_block_list_div(original_user)
{
    var blockListDiv = document.getElementsByClassName('block_list')[0];
    if (blockListDiv.childElementCount === 0)
    {
        var blockListTitle = document.createElement('h2');
        blockListTitle.textContent = 'Liste des personnes bloquées';
        blockListDiv.appendChild(blockListTitle);
    }

    var blockDiv = document.createElement('div');
    blockDiv.id = original_user;
    blockDiv.style.display = 'flex';
    blockListDiv.appendChild(blockDiv);

    var blockP = document.createElement('p');
    blockP.textContent = original_user;
    blockDiv.appendChild(blockP);

    var blockUnblockButton = document.createElement('button');
    blockUnblockButton.textContent = 'Débloquer';
    blockDiv.appendChild(blockUnblockButton);

    blockUnblockButton.addEventListener('click', function(event)
    {
        var user_to_unblock = event.target.parentElement.firstChild.textContent;
        send_unblock_friend_request(user_to_unblock, currentUser);
    });
}

//!----------------------------------------------------------------------------------------------------------------------------
//!                               Creation des divs pour l'affichage des demandes de jeux PFC
//!----------------------------------------------------------------------------------------------------------------------------
function display_pfc_request_div(original_user)
{
    var pfcDiv = document.getElementsByClassName('pfc')[0];
    if (pfcDiv.childElementCount === 0)
    {
        var pfcTitle = document.createElement('h2');
        pfcTitle.textContent = 'Demandes de jeux Pierre Feuille Ciseaux';
        pfcDiv.appendChild(pfcTitle);
    }

    var pfcRequestDiv = document.createElement('div');
    pfcRequestDiv.id = original_user;
    pfcRequestDiv.style.display = 'flex';
    pfcDiv.appendChild(pfcRequestDiv);

    var pfcRequestP = document.createElement('p');
    pfcRequestP.textContent = original_user;
    pfcRequestDiv.appendChild(pfcRequestP);

    var pfcRequestAcceptButton = document.createElement('button');
    pfcRequestAcceptButton.textContent = 'Accepter';
    pfcRequestAcceptButton.id = 'accept_pfc';
    pfcRequestDiv.appendChild(pfcRequestAcceptButton);

    var pfcRequestDeclineButton = document.createElement('button');
    pfcRequestDeclineButton.textContent = 'Refuser';
    pfcRequestDeclineButton.id = 'reject_pfc';
    pfcRequestDiv.appendChild(pfcRequestDeclineButton);

    pfcRequestAcceptButton.addEventListener('click', function(event)
    {
        var original_user = event.target.parentElement.firstChild.textContent;
        send_accept_pfc_request(original_user, currentUser);
    });

    pfcRequestDeclineButton.addEventListener('click', function(event)
    {
        var original_user = event.target.parentElement.firstChild.textContent;
        send_reject_pfc_request(original_user, currentUser);
    });

    var timer = document.createElement('span');
    timer.textContent = '(20 seconds)';
    timer.id = 'timer';
    pfcRequestDiv.appendChild(timer);
}

//!---------------------------------------------------------------------------------------------------------------------------- 
//!                           Creation du href avec le nom de l'utilisateur pour voir ses informations
//!----------------------------------------------------------------------------------------------------------------------------

        href = document.getElementById('user_infos');
        href.href = 'https://localhost/user_info/' + currentUser + '/';
        href.textContent = 'Voir mes informations 📝';

        //--------------------------------------------------------------------------------
        //                           Gestion des messages system
        //--------------------------------------------------------------------------------
        socket.onmessage = function(event)
        {
            var data = event.data;
            data = JSON.parse(data);

            console.log('✅ COMMAND:' + data.message.command);
            console.log('✅ USER_TO_ADD' + data.message.user_to_add);
            console.log('✅ ORIGINAL_USER' + data.message.original_user);
            if (data.message.command == undefined || data.message.user_to_add == undefined)
            {
                console.log(data);
            }

            if (data.message.command == 'get_friends_infos' && data.message.user_to_add == currentUser)
            {
                friends = data.message.friends;
                friends_requests = data.message.friend_request;
                block_list = data.message.block_list;
                console.log('Information sur les amis recues');
                console.log('friends -->' + friends);
                console.log('friends_requests -->' + friends_requests);
                console.log('block_list -->' + block_list);
                display_friends_requests();
                display_friends();
                display_block_list();
            }

            if (data.message.command == 'friend_accepted' && data.message.user_to_add == currentUser)
            {
                original_user = data.message.original_user;
                console.log('Requete d\'ami acceptee');
                clear_friend_request(original_user);
                display_friends_div(original_user);
            }

            if (data.message.command == 'friend_rejected' && data.message.user_to_add == currentUser)
            {
                original_user = data.message.original_user;
                console.log('Requete d\'ami refusee');
                clear_friend_request(original_user);
            }

            if (data.message.command == 'friend_deleted' && data.message.original_user == currentUser)
            {
                friend_to_delete = data.message.friend_to_delete;
                console.log('Ami supprime');
                clear_friend(friend_to_delete);
            }

            if (data.message.command == 'add_friend' && data.message.user_to_add == currentUser)
            {
                original_user = data.message.original_user;
                console.log('Requete d\'ami recue');
                display_friend_request_div(original_user);
            }

            if (data.message.command == 'friend_blocked' && data.message.original_user == currentUser)
            {
                friend_to_block = data.message.user_to_add;
                console.log('Ami bloque');
                clear_friend(friend_to_block);
                clear_friend_request(friend_to_block);
                display_block_list_div(friend_to_block);
            }

            if (data.message.command == 'friend_unblocked' && data.message.original_user == currentUser)
            {
                friend_to_unblock = data.message.user_to_add;
                console.log('Ami debloque');
                clear_block_list(friend_to_unblock);
            }

            if (data.message.command == 'pfc_asked' && data.message.user_to_add == currentUser)
            {
                original_user = data.message.original_user;
                console.log('Demande de jeu PFC recue');
                display_pfc_request_div(original_user);

                var countdown = 20;
                var countdownDisplay = document.getElementById('timer');

                var countdownInterval = setInterval(function()
                {
                    countdown--;
                    countdownDisplay.textContent = '(' + countdown + ' seconds)';

                    if (countdown <= 0)
                    {
                        clearInterval(countdownInterval);
                        send_reject_pfc_request(original_user, currentUser);
                    }
                }, 1000);
            }

            if (data.message.command == 'pfc_accepted' && (data.message.user_to_add == currentUser || data.message.original_user == currentUser))
            {
                var users = [data.message.original_user, data.message.user_to_add];
                users.sort();
                var user_string = users.join('_');

                window.location.href = 'https://localhost/pfc/' + user_string + "/";
            }

            if (data.message.command == 'pfc_rejected' && (data.message.user_to_add == currentUser || data.message.original_user == currentUser))
            {
                location.reload();
            }

            if (data.message.command == 'game_found' && data.message.original_user == currentUser)
            {
                var users = [data.message.original_user, data.message.user_to_add];
                users.sort();
                var user_string = users.join('_');

                window.location.href = 'https://localhost/pfc/' + user_string + "/";
            }
        }
    </script>
{% endif %}
</html>