<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFC</title>

    {% if user.is_authenticated %}
        <script>
            var current_user = "{{ user.username }}";
            var player1 = window.location.pathname.split('/')[2].split('_')[0];
            var player2 = window.location.pathname.split('/')[2].split('_')[1];

            function get_room_name() 
            {
                var room_name = window.location.pathname.split('/')[2];
                var users = room_name.split('_');
                users.sort();
                room_name = users.join('_');
                return room_name;   
            }

            // Connexion WebSocket avec le serveur
            var room_name = get_room_name();

            socket = new WebSocket('wss://localhost/ws/pfc/' + room_name + '/');

            socket.onopen = function(e) {
                console.log('Connexion a la room ' + room_name + ' reussie');
                send_generate_game_id(current_user);
            };

            socket.onclose = function(e) {
                console.error('Connexion a la room ' + room_name + ' echouee');
            };
        </script>
    {% endif %}
</head>
<body>
    <div id="body">
        <h1>Bienvenue dans votre Partie de Pierre Feuille ciseaux</h1>
        <p>Score joueur 1 : <span id="score1">0</span></p>
        <p>Score joueur 2 : <span id="score2">0</span></p>
        <p>Penalites joueur 1 : <span id="penalties1">0</span> <span>/3</span></p>
        <p>Penalites joueur 2 : <span id="penalties2">0</span> <span>/3</span></p>
        <p>Temps : <span id="time">0</span></p>
        <p>Manche : <span id="round">0</span></p>
    </div>
    <div id="afk"></div>


    <script>

//----------------------------------------------------------------------------------------------------------
//                                          Variables
//----------------------------------------------------------------------------------------------------------

        var game_timer_id;
        var afk_timer_id;

//----------------------------------------------------------------------------------------------------------
//                                          Envoie des messages au serveur
//----------------------------------------------------------------------------------------------------------

        function send_get_game_id(player)
        {
            var message = {
                'player': player,
                'command': 'get_game_id'
            };
            socket.send(JSON.stringify(message));
        }

        function send_timeout(player)
        {
            var message = {
                'player': player,
                'command': 'timeout'
            };
            socket.send(JSON.stringify(message));
        }

        function send_generate_game_id(player)
        {
            var message = {
                'player': player,
                'command': 'generate_game_id'
            };
            socket.send(JSON.stringify(message));
        }

        function send_ready(player)
        {
            var message = {
                'player': player,
                'command': 'ready'
            };
            socket.send(JSON.stringify(message));
        }

        function send_have_played(action, player)
        {
            var message = {
                'command': 'have_played',
                'player': player,
                'action': action
            };
            socket.send(JSON.stringify(message));
        }

        function send_clear_round(user_to_update)
        {
            var message = {
                'command': 'clear_round',
                'player': user_to_update,
            };
            socket.send(JSON.stringify(message));
        }

        function send_stop_game()
        {
            var message = {
                'command': 'stop_game',
                'player': current_user
            };
            socket.send(JSON.stringify(message));
        }
//----------------------------------------------------------------------------------------------------------
//                            Fonction pour clear les boutons quand on clique dessus
//----------------------------------------------------------------------------------------------------------
        function clear_buttons()
        {
            var pierre = document.getElementById('rock');
            var feuille = document.getElementById('paper');
            var ciseaux = document.getElementById('scissors');

            if (pierre && feuille && ciseaux)
            {
                pierre.remove();
                feuille.remove();
                ciseaux.remove();
            }
        }

//----------------------------------------------------------------------------------------------------------
//                                    Fonction pour creer les boutons
//----------------------------------------------------------------------------------------------------------

        function create_buttons()
        {
            let body_div = document.getElementById('body');
            let pierre_div = document.getElementById('rock');
            let feuille_div = document.getElementById('paper');
            let ciseaux_div = document.getElementById('scissors');
            if (pierre_div && feuille_div && ciseaux_div)
                return;
            var pierre = document.createElement('button');
            pierre.id = 'rock';
            pierre.textContent = 'Pierre';
            body_div.appendChild(pierre);

            var feuille = document.createElement('button');
            feuille.id = 'paper';
            feuille.textContent = 'Feuille';
            body_div.appendChild(feuille);

            var ciseaux = document.createElement('button');
            ciseaux.id = 'scissors';
            ciseaux.textContent = 'Ciseaux';
            body_div.appendChild(ciseaux);


            var timeleft = 15;
            document.getElementById('time').textContent = timeleft;

            game_timer_id = setInterval(function() {
                timeleft--;
                document.getElementById('time').textContent = timeleft;

                if (timeleft <= 0)
                {
                    clearInterval(game_timer_id);
                    clear_buttons();
                    send_have_played('timeout', current_user);
                }
            }, 1000);

            var buttonClicked = function() {
                clearInterval(game_timer_id);
                send_have_played(this.id, current_user);
                clear_buttons();
            };

            document.getElementById('rock').addEventListener('click', buttonClicked);
            document.getElementById('paper').addEventListener('click', buttonClicked);
            document.getElementById('scissors').addEventListener('click', buttonClicked);
        }


//----------------------------------------------------------------------------------------------------------
//                                    Fonction pour mettre a jour les elements de la page
//----------------------------------------------------------------------------------------------------------

        function update_page(data)
        {
            document.getElementById('score1').textContent = data.message.player1_score;
            document.getElementById('score2').textContent = data.message.player2_score;
            document.getElementById('penalties1').textContent = data.message.player1_penalties;
            document.getElementById('penalties2').textContent = data.message.player2_penalties;
            document.getElementById('round').textContent = data.message.round_count;

            create_buttons();
        }


//----------------------------------------------------------------------------------------------------------
//                                    Fonction pour afficher le vainqueur
//----------------------------------------------------------------------------------------------------------

        function display_winner(data)
        {
            document.body.innerHTML = '';
            var winner = document.createElement('h1');
            winner.textContent = data.message.winner + ' a gagne';
            document.body.appendChild(winner);

            var button = document.createElement('button');
            button.textContent = 'Retour a l\'accueil';
            document.body.appendChild(button);

            button.addEventListener('click', function() {
                window.location.href = 'https://localhost/hello/';
            });
        }


//----------------------------------------------------------------------------------------------------------
//                                    Fonction pour afficher si quelqu'un se deconnecte
//----------------------------------------------------------------------------------------------------------

        function display_disconnection(disconnected_player)
        {
            let timer = document.getElementById('time').textContent;

            clearInterval(game_timer_id);

            let body_div = document.getElementById('body');
            body_div.style.display = 'none';
            clear_buttons();

            let afk_div = document.getElementById('afk');
            let disconnect_info = document.createElement('h1');
            let time_info = document.createElement('span');
            time_info.id = 'time_info';
            disconnect_info.textContent = disconnect_info.textContent = disconnected_player + ' s\'est déconnecté\n fin de la partie dans : '
            afk_div.appendChild(disconnect_info);
            afk_div.appendChild(time_info);

            let time_left = 30;
            afk_timer_id = setInterval(function() {
                time_left--;
                document.getElementById('time_info').textContent = time_left;

                if (time_left <= 0)
                {
                    clearInterval(afk_timer_id);
                    send_stop_game();
                }
            }, 1000); 
        }

//----------------------------------------------------------------------------------------------------------
//                                    Reception des messages du serveur
//----------------------------------------------------------------------------------------------------------

        socket.onmessage = function(event)
        {
            var data = event.data;
            data = JSON.parse(data);

            console.log('✅ COMMAND:' + data.message.command);

            if (data.message.command == 'game_id_generated' && current_user == player2)
            {
                send_get_game_id(player2);
            }

            if (data.message.command == 'start_game')
            {
                create_buttons();
            }

            if (data.message.command == 'round_finished')
            {
                update_page(data);
            }

            if (data.message.command == 'game_finished')
            {
                display_winner(data);
                socket.close();
            }

            if (data.message.command == 'opponent_disconnected')
            {
                display_disconnection(data.message.disconnected_player);
            }

            if (data.message.command == 'game_restored' && data.message.user_to_update == current_user)
            {
                send_clear_round(data.message.user_to_update, current_user);
            }
            
            if (data.message.command == 'game_restored' && data.message.user_to_update != current_user)
            {
                clearInterval(afk_timer_id);
                let body_div = document.getElementById('body');
                let afk_div = document.getElementById('afk');
                body_div.style.display = 'block';
                afk_div.innerHTML = '';
            }

            if (data.message.command == 'game_stopped')
            {
                socket.close();
                window.location.href = 'https://localhost/hello/';
            }
        }

    </script>
</body>
</html>