<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Infos</title>
</head>
{% if user.is_authenticated %}
    <script>
        var current_user = "{{ user.username }}";

        var socket = new WebSocket('wss://localhost/ws/system/');

        socket.onopen = function(e) {
            console.log('Connexion au serveur reussie');
            send_get_user_infos();
        };
    </script>
{% else %}
    <h1>Vous devez etre connecte pour voir cette page</h1>
{% endif %}
<body>
    <h1 id="title"></h1>
    <div id="infos"></div>
    <br></br>
    <div id="history"></div>



    <script>

// ----------------------------------------------------------------------------------------------------------
//                                          Envoie des messages au serveur
// ----------------------------------------------------------------------------------------------------------

        function send_get_user_infos()
        {
            var message = {
                command : 'get_user_infos',
                original_user : window.location.pathname.split('/')[2],
                user_to_add : 'none'
            };
            socket.send(JSON.stringify(message));
        }


        function send_get_user_history()
        {
            var message = {
                command : 'get_user_history',
                original_user : window.location.pathname.split('/')[2],
                user_to_add : 'none'
            };
            socket.send(JSON.stringify(message));
        }



// ----------------------------------------------------------------------------------------------------------
//                                          Affichage des differentes infos de l'utilisateur
// ----------------------------------------------------------------------------------------------------------

        function display_user_infos(data)
        {
            var title = document.getElementById('title');
            title.innerHTML = "Information sur le profil de " + data.message.username;

            var infos = document.getElementById('infos');
            var total_pong_win = document.createElement('p');
            total_pong_win.innerHTML = 'Nombre de parties de pong gagnées: ' + data.message.total_pong_win;
            infos.appendChild(total_pong_win);

            var total_pong_lost = document.createElement('p');
            total_pong_lost.innerHTML = 'Nombre de parties de pong perdues: ' + data.message.total_pong_los;
            infos.appendChild(total_pong_lost);

            var total_pong_win_tie = document.createElement('p');
            total_pong_win_tie.innerHTML = 'Nombre de point gagnés sur pong: ' + data.message.total_pong_win_tie;
            infos.appendChild(total_pong_win_tie);

            var total_pong_los_tie = document.createElement('p');
            total_pong_los_tie.innerHTML = 'Nombre de point perdus sur pong: ' + data.message.total_pong_los_tie;
            infos.appendChild(total_pong_los_tie);
            infos.appendChild(document.createElement('br'));



            var total_scissors = document.createElement('p');
            total_scissors.innerHTML = 'Nombre de ciseaux joués: ' + data.message.total_scissors;
            infos.appendChild(total_scissors);

            var total_paper = document.createElement('p');
            total_paper.innerHTML = 'Nombre de feuilles jouées: ' + data.message.total_paper;
            infos.appendChild(total_paper);

            var total_rock = document.createElement('p');
            total_rock.innerHTML = 'Nombre de pierres jouées: ' + data.message.total_rock;
            infos.appendChild(total_rock);

            var total_spr_win = document.createElement('p');
            total_spr_win.innerHTML = 'Nombre de parties de pierre-feuille-ciseaux gagnées: ' + data.message.total_spr_win;
            infos.appendChild(total_spr_win);

            var total_spr_lost = document.createElement('p');
            total_spr_lost.innerHTML = 'Nombre de parties de pierre-feuille-ciseaux perdues: ' + data.message.total_spr_los;
            infos.appendChild(total_spr_lost);

            var total_spr_win_tie = document.createElement('p');
            total_spr_win_tie.innerHTML = 'Nombre de points gagnés sur pierre-feuille-ciseaux: ' + data.message.total_spr_win_tie;
            infos.appendChild(total_spr_win_tie);

            var total_spr_lost_tie = document.createElement('p');
            total_spr_lost_tie.innerHTML = 'Nombre de points perdus sur pierre-feuille-ciseaux: ' + data.message.total_spr_los_tie;
            infos.appendChild(total_spr_lost_tie);
        }


// ----------------------------------------------------------------------------------------------------------
//                                          Affichage de l'historique des parties
// ----------------------------------------------------------------------------------------------------------

        function get_right_player_info(game, player)
        {
            let player_info = {};

            if (player == game.player1_username)
            {
                player_info['player'] = game.player1_username;
                player_info['score'] = game.player1_score;
                player_info['moves'] = game.player1_moves;
                player_info['penalties'] = game.player1_penalties;

                player_info['opponent'] = game.player2_username;
                player_info['opponent_score'] = game.player2_score;
                player_info['opponent_moves'] = game.player2_moves;
                player_info['opponent_penalties'] = game.player2_penalties;

                player_info['timestamp'] = game.timestamp;
                player_info['total_round'] = game.total_round;

                console.log('player1 is player');
                if (game.player1_score == 7 || game.player2_penalties == 3)
                {
                    console.log('player1 --> ' + game.player1_score + ' player2 --> ' + game.player2_score);
                    console.log('player1Pena --> ' + game.player1_penalties + ' player2Pena --> ' + game.player2_penalties);
                    player_info['winner'] = true;
                }
                else
                {
                    console.log('player1 --> ' + game.player1_score + ' player2 --> ' + game.player2_score);
                    console.log('player1Pena --> ' + game.player1_penalties + ' player2Pena --> ' + game.player2_penalties);
                    player_info['winner'] = false;
                }
            }

            else
            {
                player_info['player'] = game.player2_username;
                player_info['score'] = game.player2_score;
                player_info['moves'] = game.player2_moves;
                player_info['penalties'] = game.player2_penalties;

                player_info['opponent'] = game.player1_username;
                player_info['opponent_score'] = game.player1_score;
                player_info['opponent_moves'] = game.player1_moves;
                player_info['opponent_penalties'] = game.player1_penalties;

                player_info['timestamp'] = game.timestamp;
                player_info['total_round'] = game.total_round;

                console.log('player2 is player')
                if (game.player2_score == 7 || game.player1_penalties == 3)
                {
                    console.log('player1 --> ' + game.player1_score + ' player2 --> ' + game.player2_score);
                    console.log('player1Pena --> ' + game.player1_penalties + ' player2Pena --> ' + game.player2_penalties);
                    player_info['winner'] = true;
                }
                else
                {
                    console.log('player1 --> ' + game.player1_score + ' player2 --> ' + game.player2_score);
                    console.log('player1Pena --> ' + game.player1_penalties + ' player2Pena --> ' + game.player2_penalties);
                    player_info['winner'] = false;
                }
            }

            return player_info;
        }

        function display_game_history(game_history)
        {
            var user_profile = window.location.pathname.split('/')[2];

            var history = document.getElementById('history');
            var title = document.createElement('h1');
            title.innerHTML = 'Historique des parties';
            history.appendChild(title);

            for (let game of game_history)
            {
                let player_info = get_right_player_info(game, user_profile);

                let victory =  document.createElement('h2');
                if (player_info['winner'])
                    victory.innerHTML = 'Victoire';
                else
                    victory.innerHTML = 'Defaite';
                history.appendChild(victory);

                let game_info = document.createElement('h3');
                game_info.innerHTML = player_info['player'] + ' VS ' + player_info['opponent'];
                history.appendChild(game_info);

                let score = document.createElement('p');
                score.innerHTML = 'Score: ' + player_info['score'] + ' - ' + player_info['opponent_score'];
                history.appendChild(score);

                let penalties = document.createElement('p');
                penalties.innerHTML = 'Penalites: ' + player_info['penalties'] + ' - ' + player_info['opponent_penalties'];
                history.appendChild(penalties);

                let user_profile_moves = document.createElement('p');
                user_profile_moves.innerHTML = player_info['player'] + ' : ';
                for (let i = 0; i < player_info['moves'].length; i++)
                {
                    if (player_info['moves'][i] != 'timeout')
                    {
                        user_profile_moves.innerHTML += player_info['moves'][i];
                        if (i < player_info['moves'].length - 1)
                            user_profile_moves.innerHTML += ' | ';
                    }
                }
                history.appendChild(user_profile_moves);

                let opponent_moves = document.createElement('p');
                opponent_moves.innerHTML = player_info['opponent'] + ' : ';
                for (let i = 0; i < player_info['opponent_moves'].length; i++)
                {
                    if (player_info['opponent_moves'][i] != 'timeout')
                    {
                        opponent_moves.innerHTML += player_info['opponent_moves'][i];
                        if (i < player_info['opponent_moves'].length - 1)
                            opponent_moves.innerHTML += ' | ';
                    }
                }
                history.appendChild(opponent_moves);

                let timestamp = document.createElement('p');
                timestamp.innerHTML = 'Date: ' + player_info['timestamp'];
                history.appendChild(timestamp);
            }
        }
// ----------------------------------------------------------------------------------------------------------
//                                          Reception des messages du serveur
// ----------------------------------------------------------------------------------------------------------

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            console.log(data.message.command);

            if (data.message.command == 'user_infos_sent')
            {
                display_user_infos(data);
                send_get_user_history();
            }

            if (data.message.command == 'user_not_found')
            {
                var title = document.getElementById('title');
                title.innerHTML = "Cet Utilisateur n'a encore joué a aucun jeux reviens plus tard !";
            }

            if (data.message.command == 'user_history_sent')
            {
                game_history = data.message.game_history;
                display_game_history(game_history);
            }
        };
    </script>
</body>
</html>